################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABFL.TicketSystemApp/.vs/ABFL.TicketSystemApp/FileContentIndex/d35408d5-3c11-4443-b062-c034b1d16b53.vsidx
